<section>
  <form id="myForm" action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>Password reset form</legend>
      <div>
        <label for="password">New password:</label>
        <input type="text" name="newPassword">
      </div>
      <div>
        <label for="confirmation">Confirm new password:</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="Reset password">
      </div>
    </fieldset>
  </form>

  <!-- <script>
    $('#myForm')
     $(window).ready(function(){  
    var access_token = window.location.search.substring(1);
      .ajaxForm({
        url : '/api/users/reset-password' + access_token, // or whatever
        dataType : 'json',
        success : function (response) {
            alert("PASSWORD CHANGED")
        },
        error: function (response) {
            alert("ERROR")
        },
    });
  </script> -->
</section>