<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">Get Started</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/about" class = "help-class" style = "padding:20px; margin-right:20px; background-color:#211d1d; border-radius:50px">
			Get Started
			</a>

			<a href="/faq" class="help-cell" style = "padding:20px; margin-right:20px;">
			FAQ
			</a>

			<a href="/contact" class="help-cell" style = "padding:20px; margin-right:20px;">
			Contact Us
			</a>

		</div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;">
	<ul class="fixed-nav float-left">
		<li>
			<a href="#about-razorpay" class="active">About Razorpay</a>
		</li>
		<li>
			<a href="#registration-and-activation">Registration and activation</a>
		</li>
		<li>
			<a href="#pricing-plans">Pricing Plans</a>
		</li>
		<li>
			<a href="#accepting-payments">Accepting Payments</a>
		</li>
		<li>
			<a href="#regarding-razorpay">Regarding Razorpay Inc</a>
		</li>
		<li>
			<a href="#hiring">Regarding Hiring &amp; Jobs</a>
		</li>
		<li>
			<a href="#support">Regarding Support</a>
		</li>
		<li>
			<a href="#tech">Regarding Tech</a>
		</li>
	</ul>

	<div class="container">
       <div class="row padding1x">
        <div class="col-md-12">
          <div>
          <h3>About Events Crunch</h3>
            <p>
             <h5><i><b>A one stop shop for all event associated information<br/>
             Encompassing the entirety of the world of events</i></b></h5>
             Sponsorcrunch is an online platform that helps connect event organizers with sponsors and vice versa. 
             <br>
             Sponsorcrunch is a one stop shop where listed events find potential  sponsors. Events and brands are synonymous with each other and go hand in hand. Where there is an event, there is a sponsor. Often there is lack of communication between both which makes finding sponsors a tedious process. Both are different entities but need each other to mutually benefit their cause. 
             <br>
             Sponsorcrunch provides them with a formidable platform they can trust to form alliances. As a result the database of event organizers and brands looking for potential events helps create a dynamic network. Event organizers can fund their events and brands can seek suitable events to get maximum ROI.
             <br>
             Sponsorcrunch helps organizers and brands to work according to their needs and terms and find suitable partners.
             <br>
             <br>
             <strong>What (and whose) problem are you solving?</strong><br>
             In the present scenario, one has toil to get their event funded. Sponsors are difficult to find and even if one is able to find the right sponsor there is a certain lack of communication. Most organizers are unaware of the apt channels to approach the brands and therefore usually have to settle for something less. The process is even more difficult for new entrants or less popular events.
             <br>
             Similarly brands who want to make their presence felt and wish to get associated with top notch events are usually left behind by the bigger players. Brands like these often end up sponsoring events which are not in sync with their company ethos. For instance, a new chat application that targets college goers would not like to be associated with an art gallery. 
             <br>
             We strive to make life easier for brands as well as event organizers. We enable them to form mutually beneficial partnerships through our platform.</p>
           </div>
         </div>
         
        </div>
    </div>

</div>

</body>