<div ng-controller="analytics_user_controller" id="div1">
<script>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
    $(window).ready(function(){  
      // var access_token = window.location.search.substring(1);
      var unsorted_url = window.location.pathname.split('gymUserId=');
      unsorted_url = unsorted_url[1].split('/access_token=');
    
      console.log(unsorted_url)
      var id = unsorted_url[0]
      var access_token = unsorted_url[1]
      $.ajax({ 
              // url: '/api/gym_users?' + access_token ,
              url: '/api/gym_users?access_token=' + access_token,
              context: document.body,
              success: function(response){
   
               document.getElementById("page_view").style.display = "block";
               console.log("SUCCESS " + response)
               
            },
              error: function (response) {
                // document.getElementById("error").style.display = "block";
                // $('#error').delay(4000).fadeOut(300);
                // var resp = response.responseText
                // console.log(resp)
                // console.log(response)
                alert("You are not authenticated to view this page")
                setTimeout(function() { window.location.replace('/'); }, 0000)
              },
            });
      });
</script>

<div ng-include src="'Views/header_with_gymUserId.html'"></div>
<h1 style="color: white; background-color: pink">{{users_json_data[0].age}}</h1>
<div class="container" style="margin-top: 5%; padding-bottom: 5%; background-color: #f1f1f1; box-shadow: 2px 2px 2px black;">
<div class="col-md-4 col-xs-offset-0 col-sm-12 col-xs-12">
<canvas id="myPieChart" width="10%" height="10%" style="width:10%; height:10%; margin-top: 15%; background-color: white"></canvas>
</div>
<div class="col-md-4 col-xs-offset-0 col-sm-12 col-xs-12">
<canvas id="myLineChart" width="10%" height="10%" style="width:10%; height:10%; margin-top: 15%; background-color: white"></canvas>
</div>
<div class="col-md-4  col-xs-offset-0 col-sm-12 col-xs-12">
<canvas id="myBarChart" width="10%" height="10%" style="width:10%; height:10%; margin-top: 15%; background-color: white"></canvas>
</div>
</div>
<script>

window.onload = function(){
var ctx = document.getElementById("myLineChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

});






var ctx = document.getElementById("myPieChart");
var data

        var scope = angular.element("#div1").scope();
        // console.log("scope " + scope.users_json_data[0].age)
        console.log("scope " + scope.users_json_data)
        data  = scope.users_json_data
        console.log("data " + data)
        
  
    console.log("data " + data)
var myChart = new Chart(ctx, {
    type: 'pie',
    // data: {
    //     labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
    //     datasets: [{
    //         label: '# of Votes',
    //         data: [12, 19, 3, 5, 2, 3],
    //         backgroundColor: [
    //             'rgba(255, 99, 132, 0.2)',
    //             'rgba(54, 162, 235, 0.2)',
    //             'rgba(255, 206, 86, 0.2)',
    //             'rgba(75, 192, 192, 0.2)',
    //             'rgba(153, 102, 255, 0.2)',
    //             'rgba(255, 159, 64, 0.2)'
    //         ],
    //         borderColor: [
    //             'rgba(255,99,132,1)',
    //             'rgba(54, 162, 235, 1)',
    //             'rgba(255, 206, 86, 1)',
    //             'rgba(75, 192, 192, 1)',
    //             'rgba(153, 102, 255, 1)',
    //             'rgba(255, 159, 64, 1)'
    //         ],
    //         borderWidth: 1
    //     }]
    // },
    // options: {
    //     scales: {
    //         yAxes: [{
    //             ticks: {
    //                 beginAtZero:true
    //             }
    //         }]
    //     }
    // }
    data : {
    datasets: [{
        data: data,
        backgroundColor: [
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600'
                
        ]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Bone Mass',
        'Muscle Mass',
        'Mass',
        'Fat Mass'
    ]
}
});




var ctx = document.getElementById("myBarChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"],
        datasets: [{
            label: 'Total Body Water',
            data: [81, 61, 81, 53, 56, 58, 59, 61, 65, 75, 57, 77],
            backgroundColor: [
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600',
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600',
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600'
            ],
            borderColor: [
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600',
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600',
                '#ff3d1a',
                '#FF7F50',
                '#ffc107',
                '#e73600'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

});

  };

</script>

