<!-- 
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <script src="../jquery-1.9.1.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script> -->



  <link rel="stylesheet" type="text/css" href="res/css/admin_landing_page/card.css">
  <!-- <link rel="stylesheet" type="text/css" href="res/css/homePageCSS.css"> -->
  <!-- <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css"> -->

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <!-- <div class="categoryWrap" style = "display:flex; align-items:center; flex-direction:column;">
          <div style = "display:flex; align-items:center"> -->
            
            <i class="fa fa-plus-circle catImage text-center categoryWrap" aria-hidden="true" style="font-size: 250px "></i>
            </div>
            <!-- <div class="catContent" style = "align-items:center">
              <h3 class="titleHeading" style = "text-align:center">Rishabh Narang
              </h3>
              <p class = "help-block" style = "text-align:center">New Delhi<br> Events Organised 4</p>
              <hr>
              <div >
                <p style = "text-align:center;">Active Event Organisers Discover Amazing Events on our Platform

                </p>
              </div>
              <br/>
            </div> -->
            
          <!-- <div class="col-xs-12" style = "align-items:center; text-align:center; margin-top: 2%;"><br>
            <a class="btn btn-info btnBg" >
              <span>View Details
              </span> 
            </a>
          </div>  --> 
          <!-- <div class="cl">
          </div>
          <br/> -->
          <!-- </div> -->
    <!-- <div class="cl">
    </div>
    <br/>
    <br/> -->
  </div>