<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">Contact Us</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/guidelines" class = "help-class" style = "padding:15px;margin-right:20px; ">
			Guidelines
			</a>

			<a href="/faq" class="help-cell active" style = "padding:15px;margin-right:20px; ">
			FAQ
			</a>

			<a href="/contact" class="help-cell" style = "padding:15px;margin-right:20px; background-color:#084d6b; border-radius:10px;color:white !important">
			Contact Us
			</a>

      <a href="/tnc" class="help-cell" style = "padding:15px; margin-right:20px;">
          Terms and Conditions
        </a>

      <a href="/privacy" class="help-cell" style = "padding:15px; margin-right:20px;">
          Privacy Policy
      </a>
		
    </div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;">
	<div class="container">
        <div class="col-md-12">
          <div class = "col-md-6">
          	<h3>Send us a message</h3>

          	<div class="form-group">
		      <div class="col-md-10">
        		<input type="text" class="form-control" id="name" placeholder="Name" required>
      			</div><br/><br/>
    		</div>

    		<div class="form-group">
      			<div class="col-md-10">
		        <input type="email" class="form-control" id="emailaddress" placeholder="Email address" required>
      			</div><br/><br/>
    		</div>

    		<div class="form-group">
		      <div class="col-md-10">
        		<input type="tel" class="form-control" id="contact" placeholder="Mobile Number" required>
      		   </div><br/><br/>
    		</div>

    		<div class="rcol-md-3ow">
      			<div class="col-md-2">
      	    	</div>
      			<div class="col-md-10"><br/><br/><br/>
        			<button type="submit" class="btn btn-info" id = "submitButton" style = "background-color:#3cbc71;">
          			<span>Register</span>
        			</button>
      			</div>
    		</div>

           </div>

           <div class = "col-md-6">
           	<div style = "padding:20px;">
           	<span style = "font-size:25px;"> Call Us</span><br><br>
           	<i class="fa fa-phone" aria-hidden="true" style = "font-size:20px;"> +919999400285</i>
           	</div>

           	<div style = "padding:20px;">
           	<span style = "font-size:25px;"> Visit Us</span><br><br>
           	<i class="fa fa-map-marker" aria-hidden="true" style = "font-size:20px;"> 91 Springboard, E-43/1, Okhla Phase-II, New Delhi - 110020</i>
           	</div>


			<div style = "padding:20px;">
           	<span style = "font-size:25px;"> Mail Us</span><br><br>
           	<i class="fa fa-envelope" aria-hidden="true" style = "font-size:20px;"> contact@eventscrunch.com</i>
           	</div>



           </div>
         </div>
         
        </div>
    </div>

</div>

</body>