<!-- my css -->
<link rel="stylesheet" type="text/css" href="res/css/searchBar.css">
<div class = "container"> 
  <div class = "col-md-12" style="padding-top:70px;">
  <div class = "search" style = "background-color:white"> 
    <div class = "wrapper" style = "display:flex;border: 1px solid white; border-radius:2px;flex-wrap:wrap;justify-content:space-between" >
      <div style="display:flex;">
             <i class="fa fa-search" aria-hidden="true" style = "font-size:20px; padding:7px;"></i>
            <input type="url" class="form-control" id="search" placeholder="Search Events..." style = "border-style:none; outline:none; box-shadow:none;width:52%" >
</div>
            <div style = "display:flex; align-items:right;width:380px;">
          <div class="col-md-4">
            <script type="text/javascript">
              $(document).ready(function(){
                $(".category").select2({
            placeholder: "Category",
            allowClear: true
          });
              });
            </script>
            <select class="category"  style="width:100%;border-style:none; outline:none; box-shadow:none;" >
            <option></option>
              <option>NightLife</option>
              <option>Startups</option>
              <option>Nightlife</option>
        <option>Music</option>
        <option>Comedy</option>
        <option>Culture</option>
        <option>Food + Drinks</option>
        <option>Sports</option>
        <option>Startups</option>
        <option>College</option>
          <option>Plays</option>
        <option>Experiences</option>
        <option>Workshops</option>
        <option>Exhibitions</option>
            </select>
          </div>

          <div class="col-md-4">
            <script type="text/javascript">
              $(document).ready(function(){
                $(".location").select2({
            placeholder: "Location",
            allowClear: true
          });
              });
            </script>
            <select class="location" style="width:100%;" >
            <option></option>
              <option>Delhi</option>
              <option>Noida</option>
              <option>Gurgaon</option>
              <option>NCR</option>
            </select>
          </div>

          <div class="col-md-4">
            <script type="text/javascript">
              $(document).ready(function(){
                $(".sponsorType").select2({
            placeholder: "Sponsorship Type",
            allowClear: true
          });
              });
            </script>
            <select class="sponsorType"  style="width:100%;" >
            <option></option>
              <option>Financial
        <option>In Kind</option>
        <option>Food</option>
        <option>Venue</option>
        <option>Labor</option>
        <option>Media</option>
        <option>Guest Speaker</option>
            </select>
          </div>
        </div>
    </div>
    </div>
    <div class = "col-md-12" style= "padding:10px;">
    <div class =  "help-block col-md-6">Showing 383 Sponsors
    </div>
    <div class = "col-md-6">
      <div class = "col-md-8" style = "text-align:right">
      Sorted By-
      </div>
      <div class="col-md-4 pull-right" >
            <script type="text/javascript">
        $(document).ready(function() {
            $(".sort").select2({
            placeholder: "Sort",
            allowClear: true
          });
          });
      </script>
            <select class="sort"  style="width:100%;" >
            <option></option>
              <option>Newest</option>
              <option>Random</option>
              <option>Funds Committed</option>
            </select>
          </div>
    </div>
    <div class = "col-md-12">
    <!-- <div class="col-md-12 tab-pane fade" id="pastEvents" style="padding: 2px 0"> -->
                      <div style="padding: 4px 0">
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                        <div class="addEvent1 col-md-3" ng-include="'Views/eventCard.html'" style="padding: 0">
                        </div>
                      </div>
                   

    </div>
</div>








