<!-- 
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <script src="../jquery-1.9.1.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script> -->



  <link rel="stylesheet" type="text/css" href="res/css/sponsorCardsCSS.css">
  <!-- <link rel="stylesheet" type="text/css" href="res/css/homePageCSS.css"> -->
  <!-- <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css"> -->

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "background-color:#f1f1f1">
          <div class="categoryWrap" style = "display:flex; align-items:center; flex-direction:column;">
          <div style = "display:flex; align-items:center">
            <img src = "res/img/flat-avatar-sponsor.png" class="catImage text-center" style=" margin-top: 20%;width:80px; height:80px; border-radius: 50px;">
            </div>
            <div class="catContent" style = "align-items:center">
              <h3 class="titleHeading" style = "text-align:center">Rishabh Narang
              </h3>
              <p class = "help-block" style = "text-align:center">New Delhi<br> Events Organised 4</p>
              <hr>
              <div >
                <p style = "text-align:center;">Active Event Organisers Discover Amazing Events on our Platform

                </p>
              </div>
              <br/>
            </div>
            
          <div class="col-xs-12" style = "align-items:center; text-align:center"><br>
            <a class="btn btn-info btnBg" >
              <span>View Details
              </span> 
            </a>
          </div>
          <div class="cl">
          </div>
          <br/>
          </div>
    <div class="cl">
    </div>
    <br/>
    <br/>
  </div>