<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">FAQ</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/guidelines" class = "help-class" style = "padding:15px; margin-right:20px;">
			Guidelines
			</a>

			<a href="/faq" class="help-cell active" style = "padding:15px; margin-right:20px; background-color:#084d6b; border-radius:10px;color:white !important">
			FAQ
			</a>

			<a href="/contact" class="help-cell" style = "padding:15px; margin-right:20px;">
			Contact Us
			</a>

			<a href="/tnc" class="help-cell" style = "padding:15px; margin-right:20px;">
          Terms and Conditions
        </a>

      <a href="/privacy" class="help-cell" style = "padding:15px; margin-right:20px;">
          Privacy Policy
      </a>

		</div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;">
	<ul class="fixed-nav float-left list">
		<ul class = "list"><li><a href="/faq-event-organiser"><h3>EventOrganiser</h3></a></li>
		<li>
			<a href="faq-event-organiser/#what-we-do" class="active">What we do?</a>
		</li>
		<li>
			<a href="faq-event-organiser/#commission">Commission</a>
		</li>
		<li>
			<a href="faq-event-organiser/#benefits">Benefits</a>
		</li>
		<li>
			<a href="faq-event-organiser/#contact-sponsors">Contacting Sponsors</a>
		</li>
		<li>
			<a href="faq-event-organiser/#ticketing">Ticketing via Partiko</a>
		</li>
		<li>
			<a href="faq-event-organiser/#limit">Event Limit</a>
		</li>
		<li>
			<a href="faq-event-organiser/#sponsorship-proposal">Sponsorship Proposal</a>
		</li>
		<li>
			<a href="faq-sponsor/#tech">Types of Sponsorship</a>
		</li>
		<li>
			<a href="faq-sponsor/#diff-spons-partners">Sponsors v/s Partners</a>
		</li>
		</ul>

		<ul class = "list">
		<li><a href="/faq-sponsor"><h3>Sponsor</h3></a></li>
		<li>
		<a href="faq-sponsor/#what-we-do" class="active">What we do?</a>
		</li>
		<li>
			<a href="faq-sponsor/#commisson">Commission</a>
		</li>
		<li>
			<a href="faq-sponsor/#benefits">Benefits</a>
		</li>
		<li>
			<a href="faq-sponsor#conatct-organiser">Conatcting Organisers</a>
		</li>
		<li>
		<li>
			<a href="faq-sponsor/#ticketing">Ticketing via Partiko</a>
		</li>
		<li>
			<a href="faq-sponsor#approval">Approval</a>
		</li>
		<li>
			<a href="faq-sponsor/#imp-of-sponsorship">Importance of Sponsorship</a>
		</li>
		<li>
			<a href="faq-sponsor#sponsoring">Pre-requisites of sponsorship</a>
		</li>
		<li>
			<a href="faq-sponsor/#tech">Types of Sponsorship</a>
		</li>
		<li>
			<a href="faq-sponsor/#diff-spons-partners">Sponsors v/s Partners</a>
		</li>
		</ul>
	</ul>

	<div class="container">
       <div class="row padding1x">
        <div class="col-md-12">
          <div>
          <section id = "what-we-do">
          <h2>How does EventsCrunch help connect to sponsors?</h2>
            <p>
              EventsCrunch is an online platform that has a large database brands that are looking for potential events to sponsor. You just need to create and list your event with us which will then be accessed by this large network of sponsors who will then connect to you according to their needs.
            </p>
            </section>

            <section id = "commission">
            <h2>How does EventsCrunch make money?</h2>
            <p>
              EventsCrunch charges a fee based on different plans or models as per your requirement.
            </p>
            </section>

            <section id = "benefits">
            <h2>What are the benefits does one get through the Premium model?</h2>
            <p>
              EventsCrunch helps achieve a bigger reach and more eyeballs through Partiko that integrates ticketing. Other benefits include featured listing, sponsor leads, extensive social media coverage etc.
            </p>
            </section>

            <section id = "contact-sponsors">
            <h2>Is it possible to get the contact details of sponsors or contact them directly?</h2>
            <p>
              No
            </p>
            </section>

            <section id = "ticket">
            <h2>How does EventsCrunch help me as an organizer apart from getting sponsors?</h2>
            <p>
              EventsCrunch integrates ticketing through Partiko that helps achieve a bigger reach. EventsCrunch provides event organizers with multiple features such as sponsor rating, integrated ticketing, social media reach, push notifications etc. Organizers can access post event analytic reports. Organizers are further given credits based after every successful event which can be used later.
            </p>
            </section>

            <section id = "limit">
            <h2>How many events I can list on EventsCrunch?</h2>
            <p>
              You can list as many events as you want until they are listed on Partiko as well and are 100% genuine.<br/> 
              Note: Events once created and if any sponsorship has been raised, if the event is cancelled “fee” Will be charged.
            </p>
            </section>

            <section id = "sponsorship-proposal">
            <h2>Does EventsCrunch help in making proposal?</h2>
            <p>
              Yes, our team will always assist you in creating proper deck for the sponsors.
            </p>
            </section>

            <h2 id = "tech">What are the different type of sponsors?</h2>
					<p>
						Sponsors and event organizers work in tandem. However, before any venture one must understand 

						the different types of sponsors.
						<br/><br/>
						<ul>
							<li>Financial Sponsors<br/>

								A company may sponsor a group or organization by becoming a financial sponsor. A financial 

								sponsor pays a set amount of money in exchange for benefits outlined in a sponsorship agreement. 

								Benefits may include an opportunity to promote the company to the sponsored organization’s 

								membership or audience; an advertisement or mention in official programs, newsletters or press 

								releases; or signage or logos on promotional materials.
								<br/><br/>
							</li>
							<li>
								In-Kind Sponsors<br/>

								In-kind sponsors donate goods or services rather than cash as their sponsorship offering. For 

								example, a local bakery may sponsor an event by offering their cookies and cakes.In this sense, the 

								bakery is not giving a cash contribution, but making a donation of goods instead.
								<br/><br/>
							</li>
							<li>
								Media Sponsors<br/>

								A media sponsor is a company that finances or secures media coverage for an organization, program 

								or event. For example, a media sponsor may pay for an advertisement in a local paper, or foot the 

								cost of putting up a billboard or filming a television commercial. The advantage of this type of 

								sponsorship is that a sponsor may simultaneously promote his own company by tagging ads with his 

								business logo and verbiage such as, "brought to you by" or "sponsored by" the name of the 

								company.
								<br/><br/>
							</li>
							<li>
								Location Sponsors<br/>

								A business may offer the use of its facilities as a form of sponsorship. For example, a company that 

								allows a local scout troop to use its boardroom as a meeting venue is serving as a location sponsor. 

								Likewise, a company that hosts a blood drive on its property, or a hotel that donates free use of a 

								ballroom is also considered a location sponsor.
							</li>
						</ul>
					</p>

					<h2 id = "diff-spons-partners">What is the difference between sponsors and partners?</h2>
					<p>
						Sponsors provide financial support for the event in return for a number of reasons. It could be to promote their field of work, their organisation or to provide opportunities to their members. The relationship is based on working with the sponsor to meet their requirements in return for their financial support.Partners on the other hand, support the event without a financial contribution. A partner agrees to be a part of an event in return for benefits that are not monetary such as promotion, marketing etc.
						<br/>
						Both are different entities but help catapult the event to success.
					</p>

           </div>
         </div>
         
        </div>
    </div>

</div>
</body>
