<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">How It Works</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/howitworksevents" class = "help-class active" style = "padding:15px;margin-right:20px; background-color:#084d6b; border-radius:10px;color:white !important">
			Event Organiser
			</a>

			<a href="/howitworkssponsors" class="help-cell" style = "padding:15px;margin-right:20px; ">
			Sponsor
			</a>
		
    </div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;">
	<div class="container">
        <div class="col-md-12">
          <h2>Join us</h2>
            <p>
              Create your account as an event organizer to find sponsors.
            </p>
           
            <h2>Discover Brands</h2>
            <p>
              Discover and find a large number of brands filtered specifically by category and location. Each brand listed has a complete overview of information about the brand which helps organizers choose accordingly.
            </p>

            <h2>Find the right oppurtunity</h2>
            <p>
              Select brands you deem apt for your event by going through multiple sponsors. Go through sponsorships and partnerships offered and identify the right opportunities and contact the sponsors.
            </p>

            <h2>Connect with brands</h2>
            <p>
              Accept and send proposals, notify the sponsors and negotiate. Form partnerships and get associated with the right brands.
            </p>

         </div>
         
        </div>
    </div>

</div>

</body>