<link rel="stylesheet" href="res/css/loginCSS.css">
<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<script src="../jquery-1.9.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script> -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">    
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
		<div class="panel panel-info" >
				<!-- <div style="position:absolute;top:32px;left:35px; border-radius:50%; background:transparent !important; border:1px solid grey !important;" id="btn-signup"  class="btn btn-success">	<a style="color:grey;"href="#/login-options" onClick="$('#loginbox').hide(); $('#signupbox').show()">
					&lt
				</a>    </div> -->
				<br>
				<h4 class="text-center" style="color:rgba(14, 12, 17, 0.84)">Enter your Email</h4>
				<br>

				<div style="padding-top:10px" class="panel-body" >

					<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

					<form id="loginform" class="form-horizontal" role="form">

						<div style="width:100%;height:50px;margin-bottom:20px;padding:0 60px" class="input-group">
							<input style="height:50px;" id="login-username" type="text" class="form-control" name="username" value="" placeholder="Email">                                        
						</div>

						<br>



						<div style="margin-bottom:0px" class="form-group">
							<!-- Button -->

							<div class="col-sm-12 text-center controls" style="border-top: 1px solid#888; padding-top:15px;">
								<div style="width:45%; height:50px" id="btn-login-1"  class="btn btn-success">	<a href="http://sponsor.beta.eventscrunch.com" target="_self" style = "color: #ffffff;"><div style="padding-top:3px;color:inherit;font-size:20px;">Reset Now</div></a>    
								</div>
								
								
						</div>


					</form>     



				</div>                     
			</div>  
		</div>

	</div>


 <!--  <select class="form-control" required>
        <option>--Please Select--</option>
          <option>Andhra Pradesh</option>
          <option>Karnataka</option>
          <option>Kerala</option>
          <option>Tamilnadu</option>
        </select> -->