

<link rel="stylesheet" type="text/css" href="res/css/footer.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="dashboard-page">

    <div class='footer'>
 <div class='container'>
   <div class='row'>
    <div class='col-sm-2 col-xs-6'>
      <h4>Usefull Links</h4>
      <ul class='list-unstyled'>
             <li><a href = "/howitworks"><span>  How it Works </span></a></li>
             <li><a href = "/faq"><span>  FAQ </span></a></li>
             <li><a href = "/guidelines"><span>  Guidelines </span></a></li>
      </ul>
    </div>
     <div class='col-sm-2 col-md-2 col-xs-6'>
       <h4>Browse</h4>
        <ul class='list-unstyled'>
             <!-- <li><a ui-sref="faq"><span>  Home </span> </a></li> -->
            <!--  <li><a ui-sref="terms"><span>  About Us </span></a></li> -->
             <!-- <li><a ui-sref="privacy"><span>  Sign up </span></a></li>
             <li><a ui-sref="privacy"><span>  Sign IN </span></a></li> -->
             <li><a href="/events"><span>  Browse Events </span></a></li>
             <li><a href="/sponsor"><span>  Browse Sponsors </span></a></li>
           </ul>
     </div>

     <div class='col-sm-2 col-xs-6 col-md-2'>
       <h4>Meet</h4>
       <ul class="list-unstyled">
             <li><a href="/team"><span>  Our Team </span></a></li>
            
           </ul>
     </div>

     <div class='clearfix visible-xs'></div>

     

    <div class='col-sm-2 col-md-2 col-xs-6'>
      <h4>Legal</h4>
      <ul class='list-unstyled'>
             <!-- <li><a ui-sref="terms"><span>  About Us </span></a></li> -->
             <li><a href="/tnc"><span>  Terms & Conditions </span></a></li>
             <li><a href = "/privacy"><span>  Privacy Policy </span></a></li>
             <li><a href = "/contact"><span>  Contact Us </span></a></li>

      </ul>
   
    </div>
    <div class='col-sm-2 col-md-2 col-xs-6'>
      <h4>CONNECT US</h4>
      <ul class='list-unstyled' style="display:flex;">
           <li style="padding:0 10px;"><a href="https://www.facebook.com/Events Crunchdelhi?_rdr=p"><i class="fa fa-facebook-square" aria-hidden="true" style = "font-size:24px;"></i> </a></li>
          <li style="padding:0 10px;"><a href="https://twitter.com/Events Crunch1"><i class="fa fa-twitter-square" aria-hidden="true" style = "font-size:24px;"></i></a></li>
          <li style="padding:0 10px;"><a href="https://plus.google.com/+Events Crunch/posts"><i class="fa fa-linkedin-square" aria-hidden="true" style = "font-size:24px;"></i></a></li>
      
      </ul>

      <h4>CALL US</h4>
      <h5 style="color:#ED5E44;">+91 9999400285</h5>
      <h5 style="color:#ED5E44;">hello@eventscrunch.com</h5>
   
    </div>
    <div class='col-sm-2 col-md-2 col-xs-6'>
     
     <img src="res/img/Footer-logo.png" width="155px" style = "margin-top:-15px;">
   
    </div>

  </div>

  

  </div>
  <div class="sec-footer">
       <div style="display:flex; justify-content:center;align-items:center;">
           <img style="height:40px;padding:0 20px;" src="res/img/panel.png"><br /><br />
           <img style="padding:0 20px;" src="res/img/msg91.png">
     </div>
  </div>
  <div style="text-align:center;background-color:#252525; height:60px;padding:20px;">
  <div class="sec-content" style="display: inline">
        &copy; 2016 Events Crunch
      </div> 
    </div>
</div> 
</div> 
