<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">Guidelines</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/guidelines" class = "help-class" style = "padding:15px; margin-right:20px; background-color:#084d6b; border-radius:10px;color:white !important">
			Guidelines
			</a>

			<a href="/faq" class="help-cell" style = "padding:15px; margin-right:20px; ">
			FAQ
			</a>

			<a href="/contact" class="help-cell" style = "padding:15px; margin-right:20px;">
			Contact Us
			</a>

      <a href="/tnc" class="help-cell" style = "padding:15px; margin-right:20px;">
          Terms and Conditions
        </a>

      <a href="/privacy" class="help-cell" style = "padding:15px; margin-right:20px;">
          Privacy Policy
      </a>

		</div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;"">
	<ul class="fixed-nav float-left list" style = "margin-top: 25px;">
		<ul class = "list">
		<li>
			<a href="#profile" class="active">Profile</a>
		</li>
		<li>
			<a href="#feed">Feed</a>
		</li>
		<li>
			<a href="#preferences">Preferences</a>
		</li>
		<li>
			<a href="#sponsProposals">Sponsorship Proposals</a>
		</li>
		<li>
			<a href="#addEvents">Adding/Editing Events</a>
		</li>
		<li>
			<a href="#notifications">Notifications</a>
		</li>
		<li>
			<a href="#media">Media</a>
		</li>
		<li>
			<a href="#negotiations">Negotiations</a>
		</li>
		<li>
			<a href="#privateInfo">Private Information</a>
		</li>
		</ul>
		
	</ul>

	<div class="container" style = "padding-left:40px;">
       <div class="row padding1x">
        <div class="col-md-12">
          <div>
          <section id = "profile">
          <h2>Profile</h2>
            <p>
              The profile is the first point of reference. Event Organizers and sponsors must update their profile from time to time. Sponsors’ profile information should be complete and correct to obtain approval to be listed on our portal
            </p>
            </section>

            <section id = "feed">
            <h2>Feed</h2>
            <p>
              The feed enables users to keep up with the activity of all the sponsors as well as event organizers. Both brands and organizers can view and follow each other’s profiles.
            </p>
            </section>

            <section id = "preferences">
            <h2>Preferences</h2>
            <p>
              Matchmaking preferences enable the brands find the right events and organizers. Similarly all organizers must fill the right information for all their events. Preferences are important as they help both brands and organizers in finding the right partnerships.
            </p>
            </section>

            <section id = "sponsProposals">
            <h2>Sponsorship Proposals</h2>
            <p>
              Sponsorship proposal is the most important element for any event organizer. The proposal should be in accordance with the format provided. In case of any doubt we are always at your beck and call for assistance with the proposal.
            </p>
            </section>

            <section id = "addEvents">
            <h2>Adding/Editing Events</h2>
            <p>
              There is no limit to the number of events that can be created by an event organizer. Any organizer can create multiple events in various categories. Organizers can see events listed when they go live. They can edit events even after going live till the time they do not expect any proposal.
            </p>
            </section>

            <section id = "notifications">
            <h2>Notifications</h2>
            <p>
              Any new proposals or other notifications related to the user are visible in the notifications. Users must check notifications regularly.
            </p>
            </section>

            <section id = "media">
            <h2>Media</h2>
            <p>
              Media should contain the photos and videos of the events. This lends a visual appeal to the event for potential sponsors. Also, photos and videos of the previous editions of the same event can also be posted
            </p>
            </section>

            <section id = "negotiations">
            <h2>Negotiations</h2>
            <p>
              Media should contain the photos and videos of the events. This lends a visual appeal to the event for potential sponsors. Also, photos and videos of the previous editions of the same event can also be posted
            </p>
            </section>

            <section id = "privateInfo">
            <h2>Private Information</h2>
            <p>
              During any stage, no user is allowed to share any personal information. Sharing or exchanging any personal information is strictly prohibited. In case any user tries to do the same, you are requested to get in touch with us at contact@eventscrunch.com
            </p>
            </section>

           </div>
         </div>
         
        </div>
    </div>

</div>
</body>
