<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">Get Started</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/about" class = "help-class" style = "padding:20px; margin-right:20px; background-color:#211d1d; border-radius:50px">
			Get Started
			</a>

			<a href="/faq" class="help-cell" style = "padding:20px; margin-right:20px;">
			FAQ
			</a>

			<a href="/contact" class="help-cell" style = "padding:20px; margin-right:20px;">
			Contact Us
			</a>

		</div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;">
	<ul class="fixed-nav float-left">
		<li>
			<a href="#about-razorpay" class="active">Profile</a>
		</li>
		<li>
			<a href="#registration-and-activation">Feed</a>
		</li>
		<li>
			<a href="#pricing-plans">Preferences</a>
		</li>
		<li>
			<a href="#accepting-payments">Sponsorship Proposal</a>
		</li>
		<li>
			<a href="#regarding-razorpay">Adding/Editing Events</a>
		</li>
		<li>
			<a href="#hiring">Notifications</a>
		</li>
		<li>
			<a href="#support">Media</a>
		</li>
		<li>
			<a href="#tech">Negotiations</a>
		</li>
		<li>
			<a href="#tech">Private Information</a>
		</li>
	</ul>

	<div class="container">
        <div class="col-md-12">
          <div>
          <h3>About Events Crunch</h3>
            <p>
             <strong>Profile</strong><br>
             The profile is the first point of reference. Event Organizers and sponsors must update their profile from time to time. Sponsors’ profile information should be complete and correct to obtain approval to be listed on our portal

             <br>

             <strong>Feed</strong><br>
             The feed enables users to keep up with the activity of all the sponsors as well as event organizers. Both brands and organizers can view and follow each other’s profiles.

             <br>

             <strong>Preferences</strong><br>
             Matchmaking preferences enable the brands find the right events and organizers. Similarly all organizers must fill the right information for all their events. Preferences are important as they help both brands and organizers in finding the right partnerships.

             <br>

             <strong>Sponsorship Proposals</strong><br>
             Sponsorship proposal is the most important element for any event organizer. The proposal should be in accordance with the format provided. In case of any doubt we are always at your beck and call for assistance with the proposal.

             <br>

             <strong>Adding/Editing Events</strong><br>
             There is no limit to the number of events that can be created by an event organizer. Any organizer can create multiple events in various categories. Organizers can see events listed when they go live. They can edit events even after going live till the time they do not expect any proposal.

             <br>

             <strong>Notifications</strong><br>
             Any new proposals or other notifications related to the user are visible in the notifications. Users must check notifications regularly.
             <br>

             <strong>Media</strong><br>
             Media should contain the photos and videos of the events. This lends a visual appeal to the event for potential sponsors. Also, photos and videos of the previous editions of the same event can also be posted
             <br>

             <strong>Negotiations</strong><br>
             Both brands as well as organizers are free to negotiate to strike the best deals for themselves. They must carefully assess the offers and make decisions.
             <br>

			 <strong>Private Information</strong><br>
             During any stage, no user is allowed to share any personal information. Sharing or exchanging any personal information is strictly prohibited. In case any user tries to do the same, you are requested to get in touch with us at contact@eventscrunch.com
             <br>


             </p>
           </div>
         </div>
    </div>

</div>

</body>