<nav class = "navbar navbar-default navbar-fixed-top" style = "background-color:#0c6d97">
    <div class="container" id = "navFluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar" style="color: white;"></span>
          <span class="icon-bar" style="color: white;"></span>
          <span class="icon-bar" style="color: white;"></span> 
        </button>
        <a class="navbar-brand" href="home" style = "background-color:#0c6d97; display:flex;padding:12px 15px;align-items:center; "><img src="res/img/ec-small.png"><img src="res/img/header-logo.png" style = ""></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" style = "background-color:#0c6d97">
        <ul class="nav navbar-nav">
          <li><a href="/events">Events</a></li>
          <li><a href="/sponsor">Sponsors</a></li>
          <li><a href="http://blog.eventscrunch.com">Blog</a></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:70px;padding:15px 27px;"><span class="glyphicon glyphicon-option-horizontal"></span></a>
          <ul style="text-align:left;"class="dropdown-menu">                 
                          <li><a href="/howitworks">How it works</a></li>
                          <li><a href="/faq">FAQ</a></li>  
                          <li><a href="/guidelines">Guidelines</a></li>    
          </ul>
          </li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li style = "background-color:#0c6d97;"><a href="login"> Sign In </a></li>
        <li style = "background-color:#0c6d97;"><a href="join" >Join</a></li>
        </ul>
      </div>
    </div>
  </nav>