<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="res/css/staticPageCSS.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div id = "banner" class = "card">
	<div class = "container bannerWidth">
		<h1 class = "heading">How It Works</h1><br/><br/>
		<div class = "help-row-clear">
			<a href = "/howitworksevents" class = "help-class" style = "padding:15px;margin-right:20px; ">
			Event Organiser
			</a>

			<a href="/howitworkssponsors" class="help-cell active" style = "padding:15px;margin-right:20px; background-color:#084d6b; border-radius:10px;color:white !important">
			Sponsor
			</a>
		
    </div>
	</div>
</div>

<div id="help-area" class="fixed-box container" style = "display:flex;">
	<div class="container">
        <div class="col-md-12">
          <h2>Join us</h2>
            <p>
              Create your account as a sponsor for sponsorship opportunities.
            </p>
           
            <h2>Discover Brands</h2>
            <p>
              Discover and find a large number of events filtered specifically by category and location. Each event listed has a complete overview of information about the event which helps brands choose accordingly.
            </p>

            <h2>Find the right oppurtunity</h2>
            <p>
              Select events you deem apt for your brand by going through multiple events and organizers. Go through proposals and identify the right opportunities and contact the event organizers.sponsorships and partnerships offered and identify the right opportunities and contact the sponsors.
            </p>

            <h2>Connect with organizers</h2>
            <p>
              Find proposals, notify the organizers and negotiate. Form partnerships and get associated with the right events.
            </p>

         </div>
         
        </div>
    </div>

</div>

</body>